@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body {
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
    color: #111;
    padding-top: 80px;
}
a {
	color: #eb5757;
	text-decoration: underline;
}
.section-kv {
	opacity: .2;
}
#back {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	cursor: pointer;
	width: 80px;
	height: 80px;
	background-image: url(../img/works/left-arrow.svg);
	background-position: center center;
	background-size: 24px 24px;
	opacity: 1;
	background-repeat: no-repeat;
	z-index: 10000;
/*	background-color: rgba(255,255,255);
	box-shadow: 4px 4px 0 rgba(235, 87, 87);*/
}
.header-logo {
	width: 240px;
}
h2 {
	line-height: 1.2;
	font-size: 24px;
	font-weight: 600;
	margin-top: 32px;
	margin-bottom: 16px;
}
.content-inner {
	position: relative;
	margin-top: 48px;
}
.contentLayout--insetColumn {
	max-width: 740px;
	width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.contentLayout--outsetColumn {
	max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.contentLayout--fullWidth {
	width: 100%;
}
.content-title {
	font-weight: bold;
	color: #111;
	font-size: 36px;
	line-height: 1.2;
	padding: 25px 0 8px 0;
}
.content-position {
	margin-top: 8px;
}
.content-date {
	margin-right: 16px;
}
.content-heroimg {
	width: 100%;
}
.content-text {
	margin-bottom: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
}
.content-img {
	margin-bottom: 16px;
	width: 100%;
}

/* FOOTER */
.footer-logo {
	width: 360px;
	display: block;
	margin: 160px auto;
}
.op_footer {
    position: relative;
    height: 96px;
    width: 100%;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1;
}
.op_copyright {
    position: absolute;
    left: 48px;
    top: 38px;
}
.op_pp {
    position: absolute;
    right: 48px;
    top: 38px;
}



@media only screen and (max-width: 1023px) {
#back {
	width: 48px;
	height: 48px;
	background-size: 16px 16px;
	opacity: 1;
	background-color: rgba(255,255,255);
	border-right: 1px solid rgba(235, 87, 87);
	border-bottom: 1px solid rgba(235, 87, 87);
	box-shadow: 4px 4px 0 rgba(235, 87, 87);
}
.footer-logo {
	width: 240px;
}
.op_footer {
    position: relative;
    height: 96px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.op_copyright {
    position: static;
}
.op_pp {
    position: static;
    display: block;
    margin-top: 16px;
}


}




